.cardHighlight {
  min-height: 100%;
  background: linear-gradient(to left, #555555, #AAAAAA) !important;
}

.aboutMe {
  background: linear-gradient(to left, #555555, #AAAAAA);
}
.courseButton{
  width: 200px;
}
.regForm{
  border: 6px solid;
  border-width:5px;
  padding: 10px;
}

#loginButton:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


@media (min-width: 768px) {
.cardTo{
 float: left;
  width: 30%;
  padding: 10px;
  padding-top: 10px;
  margin: 10px;
  grid-column: span 6;
  
}
}
